#bga { position: absolute; z-index: 1; width: 100%;  height: 100%; background: rgba(0,0,0,0.8); top:0; left: 0; display: none;}
.nameauth { font-size: 28px; width: 168px; margin: 20px auto;}
.login, .password, .subauth { margin: 0 40px; }
.submita:hover, .registr:hover, .profile:hover, .favorites:hover, .history:hover, .settings:hover, .exit:hover, .panel:hover {transition: 1s;}
.profile:hover, .favorites:hover, .history:hover, .settings:hover, .exit:hover, .panel:hover  {color: white!important;}
.profile,  .favorites, .history, .settings, .panel {color: #c0c0c0;}
#authorization { z-index: 1000; width: 440px; height: 290px; display: none; position: absolute; top: 50%; margin-top: -150px; left: 50%; margin-left: -220px; background: #1a1a1a; box-shadow: 0 0 10px rgba(0,0,0,0.5); }
.login input, .password input {width: 350px; height: 25px; padding-left: 10px;}
.login span, .password span { margin: 10px 0; }
.submita {background: #2580cc!important; height: 31px; width: 130px; margin: 30px 0;}
.submita:hover { background: #30a2ff!important; }
.registr {border: 1px solid #2580cc; width: 200px; height: 29px; line-height: 28px; margin-top: 30px;}
.registr:hover {background: #2580cc;}
.errorlogin { width: 290px; height: 50px; line-height:50px; position: absolute; background: #a50303; left:50%; margin-left: -145px;  top: 122px; z-index: 1000;}
.forgot {z-index: 1000; width: 440px; height: 50px; background: #1a1a1a; line-height: 50px; border-top: 1px solid #2580CC;}
#loginmenu { background: #1a1a1a; width: 230px; position: absolute; margin-left: -75px; padding-top: 7px; top: 42px;}
.li { height: 40px; line-height: 40px; display: block;}
.exit { height: 40px; background: url("../images/exit_black.png") no-repeat 7px!important;color: #c0c0c0!important; padding-left: 50px; margin-bottom: 7px;}
.exit:hover {background: url("../images/exit_white.png") no-repeat 7px!important;}
.lipro { display: inline-block; height: 40px; padding-left: 50px;}
.proi { position: relative; top: 7px; margin-right: 10px; }
.panel {background: url("../images/admin_panel_black.png") no-repeat 7px;}
.panel:hover {background: url("../images/admin_panel_white.png") no-repeat 7px;}
.profile {background: url("../images/profile_black.png") no-repeat 7px;}
.profile:hover {background: url("../images/profile_white.png") no-repeat 7px;}
.favorites {background: url("../images/favorite_black.png") no-repeat 7px ;}
.favorites:hover {background: url("../images/favorite_white.png") no-repeat 7px ;}
.history {background: url("../images/history_black.png") no-repeat 7px ;}
.history:hover {background: url("../images/history_white.png") no-repeat 7px ;}
.settings {background: url("../images/settings_black.png") no-repeat 7px ;}
.settings:hover {background: url("../images/settings_white.png") no-repeat 7px ;}
.closea { width: 100%; height: 100%; position: absolute; }
.block1 { width: 150px; margin-left: 33px;}
.formexit { margin-left: 27px; }
.numh {position: relative;display: inline-block; left: 15px; color: #1a1a1a; background: #ece7e7; height: 20px; line-height: 20px; width: 20px; border-radius: 10px; font-size: 12px;}
.cats { position: absolute; width: 100%; background: #1a1a1a; z-index: 100; max-width: 1600px;}
.cat {width: 240px; height: 180px;margin: 10px 0 0 10px;}
.avacat { width: 240px; }
.cattitle { position: relative; height: 30px; text-align: center; background: rgba(0,0,0,0.5);top:-34px; line-height: 30px;}